{% extends "base.html" %}

{% block title %}
    Blog Post
{% endblock %}

{% block content %}

<br><br>

{% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">        
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

<div class="shadow p-3 mb-5 bg-body rounded">

    <h1><a href="{{ url_for('blog_update', id=blog.id) }}" >{{ blog.title }}</a></h1><br>
    By: {{ blog.users.name }}<br>
    Slug : {{ blog.slug }}<br>
    Date: {{ blog.date_posted }}<br>
    About Author: {{ blog.users.about_author }}<br>
    Content: {{ blog.content | safe }}<br>    

</div>

{{ ckeditor.load() }}
{{ ckeditor.config(name='content') }}

<a href="{{ url_for('blog_posts') }}", class="btn btn-primary"> Go Back </a>

{% endblock %}
