{% extends "base.html" %}

{% block title %}
    Search
{% endblock %}

{% block content %}
    <br>
    <h1>Searching.....</h1><br>

    {% if blogs %}
        {% for blog in blogs %}
            <h2> Title:<a href="{{ url_for('blog_post', id=blog.id) }}"> {{ blog.title }}</h2></a><br>
            <h2> Content:<a href="{{ url_for('blog_post', id=blog.id) }}"> {{ blog.content | safe }}</h2></a>
        {% endfor %}
    {% else %}
        <h2> No results found</h2>
    {% endif %}    

{% endblock %}